# Day 2 – VARIABLES & DATA TYPES

**Variables**

A variable is initially declared to have a specific data type, and any value assigned to it during its lifetime must always have that type, a variable may be assigned a value of one type and then later re-assigned a value of a different type

In [1]:
number_of_wheels = 2
print(number_of_wheels)

2

Variables can store data of different types which has the capability to do different things.

**Text Type: str**

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set, frozenset

Boolean Type: bool

**Intergers:**

Example

print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

**Floating-point numbers:**

Example
pie = 3.14 

**Complex numbers:**

Complex numbers are specified as

< real part > + < imaginary part >

For Example - 5+10j

**Boolean:**

Objects of Boolean type may have one of two values True or False

**Strings:**

Strings are sequences of character data. The string type in Python is called str. 
Example:

In [2]:
print('Atlas')

Atlas

**Assigning Values to Variables:**

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

In [4]:
number = 5                   # An integer assignment
pie   = 3.14                 # A floating point
Player_name    = "Dhoni"     # A string

print(number)
print(pie)
print(Player_name)

5
3.14
Dhoni

**Multiple Assignment**

Python allows you to assign a single value to several variables simultaneously.

For example − Assigning to a same value -> a = b = c = 1

You can also assign multiple objects to multiple variables.

For example − a,b,c = 18,24,"Kohli"

# Exercise:

1) Create three variables (a,b,c) to same value of any integer & do the following

a) Divide a by 10

b) Multiply b by 50

c) Add c value by 60

In [6]:
a = b = c = 1000

print(a/10)
print(b*50)
print(c+60)

100.0
50000
1060

2) Create a String variable of 5 characters and replace the 3rd character with G

In [7]:
str = "Mouse"
str = str.replace("u", "G")
print(str)

MoGse

3) Create two values (a,b) of int,float data type & convert the vise versa, Hint : convert a from int to float datatype & b from float to int datatype

In [10]:
a, b = 10, 3.5
a = float(a)
b = int(b)
print(a)
print(b)

10.0
3

**Completed Day 1's notes & exercises**

**THANK YOU!**

Check out My Repository at https://github.com/AakankshaJarode/BestEnlist_Python_Internship.git

Chech out My LinkedIn Page at https://www.linkedin.com/in/aakanksha-jarode-1b0195179